<!-- <h1>With Vue</h1>
<div id='hello'>
  {{message}}
  <app></app>
</div> -->
<h1>Stanley Cup Playoff Pool <%= ENV["CURRENT_YEAR"] %></h1>

<%= render 'scoreboard', year: @current_year, users: @users %>

