<!-- <h1>With Vue</h1>
<div id='hello'>
  {{message}}
  <app></app>
</div> -->
<h1>Stanley Cup Playoff Pool 2021</h1>

<%# link_to "All Series", series_index_path %>
<%# link_to "This Round", round_path({id: @CURRENT_ROUND}) %>

<%= render 'scoreboard', year: Time.now.year, users: @users %>

