<h1><%= @user.given_name %>'s Profile</h1>

<p>Full Name: <%= @user.name %></p>
<p>This page is under construction.</p>
<p>Years in Pool: Unknown</p>
<p>Favourite Quote: Unknown</p>

<% if @user.id == session[:current_user] %>
  <%= button_to "Update Your Profile", edit_user_path(id: @user.id), method: :get %>
<% end %>