<h1>Playoff Pool Rules for 2021</h1>


<ol>
  <li>At the beginning of each round of the playoffs, each participant will submit predictions for who they think will win
     each of the playoff series in that round, as well as the number of games (4, 5, 6, or 7) that will be required for a winner to be determined.</li>
  <li>Picks shall be submitted by going to the <%= link_to "series page", series_index_path %> and clicking on "Make your Pick!" beside a series.</li>
  <li>If, due to a bug with this website, you are unable to submit a pick or it shows up incorrectly, you may instead submit picks on the 
    <%= link_to "Facebook group", "https://www.facebook.com/groups/100354753432118/" %> and message Sherwin to fix the bug.</li>
  <li>In the first two rounds, you may change your mind by submitting a new pick for the same series. Only the last pick you make before the series starts will count.</li>
  <li>In the last two rounds of the playoffs, all picks are final, so choose wisely.</li>
  <li>In later rounds of the playofs, participants who are currently lower in the standings may choose to wait until all participants further 
    in front of them have already made their picks before making picks,
    in order to make a strategic pick that maximizes their chances of victory.
   Leading participants shall make their picks early enough to give people time to react.</li>
  <li>All picks shall be null and void if made after the scheduled start time for Game 1 of a series.</li>
  <li>Before the Stanley Cup final, participants will in addition to picking the Cup winner, make a pick for the Conn Smythe Trophy winner.</li>
  <li>Scoring: At the end of each series, participants who correctly predicted the winner will be awarded the following number of points:
    <ul>
      <li>first round: 1 point</li>
      <li>second round: 1 point</li>
      <li>semifinal: 2 points</li>
      <li>Cup Finals: 2 points</li>
    </ul>
  </li>
  <li>Any participants who correctly predicted the number of games in the series receive double the points for that series (2 for    
    first round, 4 for second round, etc.). NOTE: Predicting "Leafs in 4" when the actual result is "Bruins in 4" still gets you nothing, since double of 0 is 0.</li>
  <li>At the end of the playoffs, 2 bonus points will be awarded for picking the correct Conn Smythe Trophy winner.</li>
  <li>After the finals are complete, players will be ranked in order of most points to determine the winner(s).</li>
  <li>In case of a tie, the tiebreakers are as follows, in order:
    <ul>
      <li>Most correct series predictions</li>
      <li>Most predictions made for the team without home-ice advantage</li>
      <li>If two or more players are still tied, the tied player who was furthest ahead before the Stanley Cup Finals wins.</li>
    </ul>
  </li>
  <li>By participating in this pool, you agree not to sue anyone else due to disputes or loss of self-esteem resulting from this hockey pool.</li>
</ol>

<p>Additional rules related to prize pools may be added if there is interest.</p>