// Place all the styles related to the Predictions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.prediction-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.team-lineups {
  display: flex;
  flex-direction: column;
  a {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
  }
}