
<h3>Scoreboard</h3>
<table>
  <thead>
    <tr>
      <!--<th>Rank</th>-->
      <th>Name</th>
      <th>Points</th>
      <th>Correct Predictions</th>
      <th>Lower-Seed Wins Correct</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
    <tr>
      <!--<td><%# user.rank(year) %></td>-->
      <td><%= link_to user.given_name.length > 0 ? user.given_name : user.name, user_path(id: user.id) %></td>
      <td><%= user.score(year) %></td>
      <td><%= user.correct_predictions(year) %></td>
      <td><%= user.correct_lower_seed_picks(year) %></td>
    </tr>
    <% end %>
  </tbody>
</table>